[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
supabase = "*"
upstash-redis = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
feedparser = "*"
redis = "*"
hiredis = "*"
pyjwt = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
